/* 
========================
   GET STARTED BUTTON
========================
*/
.wrapper{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}
  
.wrapper > div{
    padding: 5px;
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 1px solid #00c5ff;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
    color: white;
    background-color: #00c5ff;
    border-radius: 35px;
}