.overflow-table {
    width: 100%;
    height: 100%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.styled-table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;

}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.accepted-row, .styled-table tr.accepted-row td a  {
    font-weight: bold;
    color: #009879;
}

.styled-table tbody tr.wrong-row, .styled-table tr.wrong-row td a {
    font-weight: bold;
    color: #ff1744;
}

.styled-table tbody tr.tried-row, .styled-table tr.tried-row td a  {
    font-weight: bold;
    color: #ab47bc;
}
