.feed-container {
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
}

.feed-container .header {
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
}

.feed-container .title {
    color: #00c5ff;
    letter-spacing: 1px;
    font-size: 3em;
}

.feed-container .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 4rem 5vw;
    padding: 0;
    list-style-type: none;
}