:root {
    --desc-width: 200px;
    --desc-title-size: 1.5em;
    --desc-paragraph-size: 1.2em;
}

.description {
    background-color: #7610F7;
    color: white;
    padding: 50px 20px;
}

.description > p {
    white-space: pre-line;
    text-align: center;
    margin: 0px;
}

.description > :first-child {
    font-weight: bold;
    font-size: var(--desc-title-size);
}

.description > :nth-child(2) {
    font-size: var(--desc-paragraph-size);
    padding: 0px var(--desc-width);
}

@media screen and (max-width: 800px) {
    :root {
        --desc-width: 0px;
        --desc-title-size: 1.2em;
        --desc-paragraph-size: 1em;
    }

    .description > p {
        white-space: normal;
    }
}