:root {
    --desc-width: 200px;
    --desc-title-size: 1.5em;
    --desc-paragraph-size: 1.2em;
}

.description {
    background-color: #7610F7;
    color: white;
    padding: 50px 20px;
}

.description > p {
    white-space: pre-line;
    text-align: center;
    margin: 0px;
}

.description > :first-child {
    font-weight: bold;
    font-size: var(--desc-title-size);
}

.description > :nth-child(2) {
    font-size: var(--desc-paragraph-size);
    padding: 0px var(--desc-width);
}

@media screen and (max-width: 800px) {
    :root {
        --desc-width: 0px;
        --desc-title-size: 1.2em;
        --desc-paragraph-size: 1em;
    }

    .description > p {
        white-space: normal;
    }
}


/* 
========================
   GET STARTED BUTTON
========================
*/
.wrapper{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
  
.wrapper > a{
    padding: 5px;
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 1px solid #00c5ff;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
    color: white;
}
  
.wrapper > a span{
    position: relative;
    z-index: 2;
}

.wrapper > a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00c5ff;
    transition: all .35s;
}
  
.wrapper > a:hover{
    color: #fff;
}
  
.wrapper > a:hover:after{
    width: 100%;
}

.no-underline {
    text-decoration: none;
}